<div>
    <div customDirective class="flex items-center justify-center h-14 font-serif"
        style=" background: linear-gradient(to right, #232d11 0%, #818d0c 100%)">
        Welcome &nbsp; <span class="text-green-100"> {{userName}}</span>
    </div>
    <!-- <div class="bg-gray-300 h-screen">
        <mat-card>
            <mat-card-content>

            </mat-card-content>
        </mat-card>
        <mat-card>
            <mat-card-content>

            </mat-card-content>
        </mat-card>

    </div> -->

    <div class="grid grid-cols-4 gap-4 p-4">
        <div class="bg-blue-500 text-white p-4 font-bold text-lg">Products</div>
        <div class="bg-green-500 text-white p-4">Column 2</div>
        <div class="bg-yellow-500 text-white p-4">Column 3</div>
        <div class="bg-red-500 text-white p-4">Column 4</div>
        <div class="bg-purple-500 text-white p-4">Column 5</div>
        <div class="bg-pink-500 text-white p-4">Column 6</div>
    </div>
</div>