<div>
    <div class="flex items-center justify-center text-white h-14 font-serif"
        style=" background: linear-gradient(to right, #232d11 0%, #818d0c 100%)">
        SignIn
    </div>

    <div class="grid grid-cols-2 bg-slate-700 h-screen signIn">
        <div class="bg-transparent p-4"></div>
        <div class="bg-transparent p-4 flex justify-center items-center ">
            <mat-card style="width:320px;height:300px;border-radius: 10px;" class="left-32">
                <div class="w-full text-center p-3 font-bold text-lg">
                    Login
                </div>
                <mat-card-content>
                    <form  [formGroup]="signinFrom" (ngSubmit)="onSubmit(signinFrom.valid,signinFrom.value)">
                        <mat-form-field  class="w-full">
                            <!-- <mat-label>User Name</mat-label>
                            <input matInput type="text" [formControlName]="'email'"> -->
                            <mat-label>User Name</mat-label>
                            <input matInput formControlName="email">
                           
                            <mat-error class="text-red-500">
                                User Name is required
                            </mat-error>
                        </mat-form-field>


                        <mat-form-field  class="w-full mt-2">
                            <mat-label>Password</mat-label>
                            <input matInput type="password" [formControlName]="'password'" #password>
                            <mat-icon aria-hidden="false" aria-label="Example home icon" class="cursor-pointer"
                                type="button"
                                (click)="password.type === 'password' ? password.type = 'text' : password.type = 'password'"
                                matSuffix>visibility</mat-icon>
                            <mat-error class="text-red-500">
                                Password is required
                            </mat-error>
                        </mat-form-field>

                        <button mat-raised-button color="primary" type="submit" class="float-right ">Login</button>
                    </form>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>